<div class="container-fluid p-0 background-gradient">
  <div class="under-header"></div>
  <div class="row w-60 mt-80 mx-auto">
    <div class="row mx-0">
      <div class="card-detail row mx-0">
        <div class="col p-0">
          <%= image_tag @takeout_item.image, size: "700x525" %>
        </div>
        <div class="col bg-light p-0">
          <div class="card-body h-80">
            <h2 class="card-title middle"><%= @takeout_item.takeout_name %></h2>
            <hr class="m-0 bg-dark">
            <div class="card-text h-100">
              <p class="text h-20 d-flex align-items-end">￥<%= @takeout_item.tax_price %></p>
              <p class="text  justify h-40 mb-0"><%= @takeout_item.takeout_details %></p>
              <%= form_with model: [@takeout_item, @cart_item], method: :post do |f| %>
                <%= f.select :amount, *[1..10], class: "form-select" %>
                <%= f.submit "カートに入れる", class: "btn-color" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row w-100 mx-0 pt-0 about-padding">
        <p class="w-100 title-margin text-center"><%= link_to "TAKEOUT画面へ戻る", takeout_items_path, class: "btn-color" %></p>
      </div>
    </div>
  </div>
</div>
